<div class="row mt-4">
  <div class="col-md-6">
    <ol>
      <h3>Your Order History:</h3>
      <h5>click any link below to view your order detail</h5>
      {{#each orderList as |item|}}


      <li>
        <a href="/orderhistory/detail/{{id}}">
          Name: {{customer.name}}<br>
          Total items ordered: {{itemCount}}<br>
          Total cost: ${{totalCost}}<br>
          Order date: {{format_date date_created}}
        </a>
      </li>


      {{/each}}
    </ol>
  </div>
</div>